#title {
    color:  orange;
    text-align: center;
}
h2{
    color: orange;
}
*{
    background-color: black;
}
.h{
    color: goldenrod;
}
.p{
 color: white;

}
.e{
    color: red;
}
.n{
    color: chocolate;
}
.i{
    color: white;
}
.s{
    color: teal;
}
.k{
    color: royalblue;
}
.y{
    color: slateblue;
}